body {
    background-image: url("http://www.travelthruhistory.tv/ThruHistory/wp-content/uploads/2013/11/Dollarphotoclub_battleship-NC2.jpg");
    background-position: fixed;
}

section {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
    grid-gap: none;
    border: 1px lime;
    }

    section div {
        border: 2px solid lime;
            }

    section div:hover {
        background-image: url("https://cdn0.iconfinder.com/data/icons/app-tab-bar-icons-for-iphone/60/My_location.png");
        background-position: center;
        background-color: lime;
        cursor: crosshair;
    }

#board2 {
    float: right;
    
}

#board1 {
    float: left;
    
}

h2 {
    align: center;
    color: lime;
}
h1 {
    float: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title {
    margin-left: 120px;
    align: center;
    float: center;
    width: 300px;
    height: auto;
    border: 3px dotted lime;
    border-radius: 50%;
}

#title img {
    position: top;

}

.startBtn{
    text-align: center;
    margin:5px;
    margin-left: 480px;
    margin-top: 50px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color:limegreen;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px; 
    cursor: pointer;
    display: block;
    width: 300px;
    float: center;

}
.startBtn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.startBtn:hover {
    
    text-align: auto;
    margin:5px;
    margin-left: 480px;
    margin-top: 50px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    color:limegreen;
    font-style: underline;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: none; 
    cursor: pointer;
    display: block;
    width: 300px;
    float: center;
}

.hit {
    background-image: url('../images/hit.png');
    background-position: center;
    background-size: 60px 60px;
}

.miss {
    background-image: url('../images/miss.png');
    background-position: center;
    background-size: 60px 60px;
}

#msgEl {
    display: flex;
    align: center;
    margin: auto;
    width: auto;
    font-size: 20px;
    color: white;
    background-image: url('https://atcmemes.com/wp-content/uploads/2016/12/radarimage-681x380.jpg')
    position: absolute bottom;
}

.hideShips {
    background-color: transparent;
    background-image: none;
    display: none;
}
 
#ship1 {
    background-image: url('../images/hit.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    border: none;
}

#ship1:hover {
    cursor: pointer;
    background-color: greenyellow;
}

#ship2 {
    background-image: url('../images/hit.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    border: none;
}

#ship2:hover {
    cursor: pointer;
    background-color: greenyellow;
}

#ship3 {
    background-image: url('../images/hit.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    border: none;
}

#ship3:hover {
    cursor: pointer;
    background-color: greenyellow;
}

#ship4 {
    background-image: url('../images/hit.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    border: none;
}

#ship4:hover {
    cursor: pointer;
    background-color: greenyellow;
}

#ship5 {
    background-image: url('../images/hit.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    border: none;
}

#ship5:hover {
    cursor: pointer;
    background-color: greenyellow;
}

#ship6 {
    background-image: url('../images/hit.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    border: none;
}

#ship6:hover {
    cursor: pointer;
    background-color: greenyellow;
}


.hidden {
    display: block;
    color: transparent;
    background-color: transparent;
    text-align: center;
    margin:5px;
    margin-left: 480px;
    margin-top: 50px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: transparent;
    text-shadow: -1px -1px transparent, 1px 1px transparent;    
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px; 
    cursor: pointer;
    display: block;
    width: 300px;
    float: center;

}


.unhidden {

}

#shipyard1 {
    display: flex;
    width: 100vw;
    height: auto;
    float: left;
}

#shipyard2 {
    display: inline-flex;
    width: 100vw;
    height: auto;
    float: right;
}